@model LibraryManagmentSystem.Data.Model.Book


<div class="row orderForm">
    <form asp-controller="Book" asp-action="Create" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Create new Book</h3>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Title" class="form-control" placeholder="Enter book name" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Description" class="form-control" placeholder="Enter book description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <label asp-for="Author" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Author" class="form-control" placeholder="Enter book author" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <label asp-for="Inventory" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Inventory" class="form-control" placeholder="Enter book author" />
                <span asp-validation-for="Inventory" class="text-danger"></span>
            </div>
            @*<label asp-for="Photo" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Photo" class="form-control" placeholder="Enter book author" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>*@
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Cancel" asp-controller="Book" asp-action="Index" />
                <input class="btn btn-success" type="submit" value="Create" />
            </div>
        </div>
    </form>
</div>