<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Book" asp-action="Create">Create new Book</a>

<h1>No Books available</h1>
<button class="btn btn-outline-primary btn-rounded" asp-controller="Book" asp-action="Index">Go Back</button>
