@using LibraryManagmentSystem.ViewModel;
@using LibraryManagmentSystem.Data.Model;
@model IssueBookViewModel
@{
    ViewData["Title"] = "Issuing Books";
}

<h1>Issuing Books</h1>


<div class="input-group md-form form-sm form-2 pl-0">
    <input id="search" class="form-control my-0 py-1 red-border" type="text" placeholder="Search">
    <div class="input-group-append">
            <button class="input-group-text" onclick="search()">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>


<br />


<table class="table table-responsive table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Issue</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Member member in Model.Members)
        {
            <tr>
                <th scope="row">@member.MemberID</th>
                <td>@member.MemberName</td>
                <td><a class="btn btn-outline-success" asp-area="" asp-controller="IssueBook" asp-action="Lend" asp-route-memberId="@member.MemberID" asp-route-bookId="@Model.Book.BookID">Select</a></td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
        function search() {
            $("tr").each(function (index, value) {
                if (index > 0 && !$(this).find("td")[0].innerText.toLowerCase().includes($("#search").val().toLowerCase())) {
                    $(this).attr("hidden", true);
                } else {
                    $(this).removeAttr("hidden");
                }
                console.log(value);
            })
        }
    </script>
}